
.btn {
  background-color: #e3e3e3;
  border: 1px solid #999;
  border-radius: 2px;
  font-family: v-sans, system-ui;
  font-weight: 300;
  color: #333;

  &:hover {
    background-color: #f3f3f3;
    color: #222;
  }

  &:disabled,
  &.disabled {
    border: 1px solid #ccc;
    color: #aaa;
    pointer-events: none;
  }

  &-lg {
    font-size: 16px;
    line-height: 1em;
    padding: 8px 12px;
  }

  + .btn {
    margin-left: 4px;
  }
}

.btn-block {
  display: block;
  width: 100%;

  + .btn-block {
    margin-top: 4px;
    margin-left: 0;
  }
}

.btn-skew {
  padding-right: 6px;
  padding-left: 6px;
  transform: skew(-20deg) translateX(-4px);

  &::after {
    content: attr(data-text);
    display: inline-block;
    transform: skew(20deg);
  }

  &.btn-lg {
    transform: skew(-20deg) translateX(-8px);
  }
}

.btn-mist {
  background-color: $color-mist-200;
  border-color: $color-mist-300;
  color: #222;

  &:hover {
    background-color: $color-mist-300;
  }

  &:disabled,
  &.disabled {
    border-color: $color-mist-200;
    color: #666;
  }
}
