@import './mixins/breakpoints';
@import './mixins/mask';
@import './mixins/shape';

@import './heading.scss';
@import './button.scss';
@import './form.scss';
@import './flexbox.scss';
@import './game-icons.scss';
@import './panels.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  height: 100%;
}

.app {
  height: 100%;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
}

.stretched-container {
  width: 100%;
  height: 100%;
}

.centered-container {
  margin: 0 auto;

  @include media-breakpoint-between(lg, xl) {
    flex: 0 0 960px;
  }

  @include media-breakpoint-up(xl) {
    flex: 0 0 1080px;
  }

  @media (min-width: map-get($screen-breakpoints, lg)) and (min-height: 600px) {
    border-radius: 2px;
    height: 80%;
    transform: translateY(80px);
  }
}

.backdrop-bluish {
  background-color: rgba(0, 0, 84, .25);
  box-shadow: 0 0 8px #000;
}

.n-layout-transparent {
  --color: transparent !important;
}
